// variables - colors
$color-navyblue: #082B59;
$color-brown: #59331d;
$color-orange: #d98555;
$color-lightgrey: #f2f2f2;
$color-white: #ffffff;

// variables fonts
$body-font: 'Lato',
sans-serif;
$headings-font: 'Poppins'sans-serif;
$heading-fontsize: 2rem;
$nav-fontsize: 1.3 rem;
$otherscreens-fontsize: 1.2 rem;

$zero: 0;