// variables - colors
$color-navyblue: #082B59;
$color-brown: #59331d;
$color-orange: #d98555;
$color-lightgrey: #f2f2f2;
$color-white: #ffffff;

// variables fonts
$body-font: 'Lato',
sans-serif;
$headings-font: 'Poppins'sans-serif;
$heading-fontsize: 2rem;
$nav-fontsize: 1.3 rem;
$otherscreens-fontsize: 1.2 rem;

$zero: 0;

//mixins
@mixin spacing($margin, $padding) {
  margin: $margin;
  padding: $padding;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $color-navyblue;
  @include spacing($zero, $zero);
  font-family: $body-font, sans-serif;
  line-height: $heading-fontsize;
}

h1,
h2,
h3 {
  font-family: $headings-font, sans-serif;
}

h1 {
  font-size: $heading-fontsize;
  margin-bottom: 0;
}

/* make images flexible */
img {
  max-width: 100%;
}

a {
  color: $color-brown;
}

a:hover {
  text-decoration: none;
}

header {
  border-bottom: 10px solid $color-orange;
  display: flex;
  justify-content: center;
}

/* navbar styling */
nav {
  flex-flow: column wrap;
  padding: $zero $heading-fontsize;
}

nav ul {
  @include spacing($zero, $zero);
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

nav li {
  margin: $zero 1rem 1rem 1rem;
  font-size: $nav-fontsize;
}

/* max width on the image in pixels */
nav .logo img {
  max-width: 150px;
}

/* flex basis on the image container, li */
nav .logo {
  flex-basis: 100%;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
}

nav a:hover {
  color: $color-orange;
}

/* establishes a white background */
.main-bkgd {
  background: $color-white url(https://assets.codepen.io/6306176/gulp-bean-bkgd.jpg) repeat-x bottom;
  padding-bottom: 300px;
}

/* sits inside of the white background, centered */
.main {
  max-width: 1200px;
  margin: $zero auto;
  padding: $heading-fontsize;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.main-products {
  max-width: 1200px;
  margin: $zero auto;
  padding: 2rem;
}

article {
  flex-basis: 73%;
}

figure {
  margin: 3rem $zero $zero $zero;
  flex-basis: 25%;
  background-color: $color-navyblue;
  border-radius: 10px;
  text-align: center;
}

figure img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

figcaption {
  color: $color-lightgrey;
  padding: 0.5rem;
}

.button {
  display: inline-block;
  background-color: $color-brown;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: $zero;
  color: $color-lightgrey;
  text-decoration: none;
  border: 3px solid $color-brown;
}

.button:hover {
  background-color: $color-lightgrey;
  color: $color-brown;
}
//footer is nested
footer {
  color: $color-lightgrey;
  text-align: center;
  border-top: 10px solid $color-orange;

  ul {
    list-style-type: none;
    @include spacing($zero, $zero);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    a {
      color: $color-lightgrey;
      font-size: $heading-fontsize;
      display: block;
      margin: $zero 1rem 3rem 1rem;

      &:hover {
        color: $color-orange;
      }
    }
  }
}

/* Products Page */
.products-content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
}

/* medium screen | tablet & landscape mobile */
@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    font-size: $otherscreens-fontsize;
  }

  nav ul {
    flex-flow: column wrap;
    display: flex;
    justify-content: center;
  }

  .main {
    flex-flow: column wrap;
  }

  .main article {
    flex-basis: 60%;
  }

  picture {
    flex-basis: 35%;
  }

  .products-content {
    grid-column-gap: 3rem;
    grid-template-columns: 35% 60%;
  }

  .article-contact {
    flex-basis: 45% !important;
  }

  .picture-contact {
    flex-basis: 50% !important;
  }
}


/* large screen | laptop & landscape tablet & larger */
@media screen and (min-width: 992px) {
  body {
    font-size: $otherscreens-fontsize;
  }

  nav ul {
    flex-flow: row wrap;
  }

  .main {
    flex-flow: row wrap;
  }

  .main article {
    flex-basis: 45%;
  }

  picture {
    flex-basis: 50%;
  }

  nav {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .products-content {
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}